<!DOCTYPE>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Chat</title>
  <!-- vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-cookies@1.7.4/vue-cookies.min.js"></script>
  <!-- end vue -->
  <link rel="stylesheet" href="/static/fonts/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/static/Web/css/main.css">
</head>
<body>
  <div class="header">
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/contact">Contact</a>
      <a href="#">About Us</a>
      <div class="right-nav">
          {% if user.is_authenticated %}
          <div class="logged">
            <a v-on:click="loadPageInfo">User: {{ user.username }}</a>
            <ul>
              <li><a v-on:click="loadPageInfo">Thông tin cá nhân</a></li>
              <li><a v-on:click="loadPageLichSu">Lịch sử ghép cặp</a></li>
              <li><a href="/logout">Đăng xuất</a></li>
            </ul>
          </div>
          {% else %}
          <div class="unlogged">
            <a href="/login">Đăng nhập</a>
            <a href="/register">Đăng ký</a>
          </div>
          {% endif %}
      </div>
    </div>
  </div>
  <script src="/static/Web/js/base.js"></script>
  <div class="background">
    {% block content %}{% endblock %}
  </div>


  <div class="footer">
    <h5>Website ghép cặp chat online</h5>
    <i class="ti-facebook"></i>
    <i class="ti-instagram"></i>
    <i class="ti-youtube"></i>
    <i class="ti-twitter"></i>
  </div>
</body>