{% extends "Web/base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/Web/css/user-info.css">
<div class="content">
    <div class="content-userinfo">
        <div class="content-left">
            <div class="content-frame">
                <div class="user-info">
                    <div>Xin chào: <span v-if="user.ufullname || user.ufullname==''" v-once class="name">[[ user.ufullname ]]</span></div>
                    <div>Xu: <span v-if="user.ucoin" v-once class="name">[[ user.ucoin ]]</span></div>
                    <div v-if="user.uimage" v-bind:style='{ backgroundImage: "url(" + user.uimage + ")"}' class="user-image"></div>
                </div>
                <div class="side-nav">
                    <div class="user-infomation">
                        <a title="Thông tin tài khoản" v-on:click="loadPageInfo">Thông tin tài khoản</a>
                    </div>
                    <div class="user-infomation">
                        <a title="Lịch sử ghép cặp" v-on:click="loadPageLichSu">Lịch sử ghép cặp</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-center">
            <div class="content-frame">
                <div class="content-title">
                    [[ select ]]
                </div>
                <div class="content-form">
                    <user-info v-if="loadUserInfo"></user-info>
                    <user-lichsu v-if="loadUserLichSu"></user-lichsu>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/Web/js/user_info.js"></script>
{% endblock %}